@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer utilities {
  .spread {
    @apply flex items-center justify-between;
  }

  .grid-2x1 {
    @apply grid grid-cols-1 md:grid-cols-2;
  }
}

@layer base {
  body {
    @apply font-sans antialiased;
  }

  article {
    @apply min-h-screen flex flex-col;
  }

  main {
    @apply flex-grow bg-gray-50 dark:bg-gray-800 py-8 px-6;
  }

  main .inner {
    @apply flex flex-col space-y-8;
  }

  main .inner .top-container {
    @apply block space-y-4 md:space-y-0 md:flex md:spread md:space-x-8;
  }

  main .inner .main-grid {
    @apply grid-2x1 gap-8;
  }

  footer {
    @apply bg-gray-100 flex flex-col;
  }
}

@layer components {
  .navbar {
    @apply py-4 px-6 bg-gray-200 dark:bg-black;
  }

  .navbar .menu {
    @apply spread;
  }

  .navbar .menu .brand {
    @apply h-10;
  }

  .navbar .menu .sub-menu {
    @apply flex items-center space-x-6;
  }

  .navbar .menu .sub-menu .site-title {
    @apply text-lg text-black font-semibold dark:text-gray-200
      tracking-tight;
  }

  .cell {
    @apply flex flex-col space-y-4;
  }

  .cell .cell-title {
    @apply text-black dark:text-gray-100 font-semibold text-2xl;
  }

  .editable-title {
    @apply w-full;
  }

  .editable-title .editor {
    @apply px-0 py-1 text-4xl tracking-tight font-semibold dark:text-white
      focus:bg-gray-200 dark:focus:bg-gray-300 dark:focus:text-black
      dark:focus:ring-0;
  }

  button.resolve {
    @apply shadow rounded-md py-2 px-3 font-bold bg-primary
      dark:bg-primary hover:bg-primary-dark dark:hover:bg-primary-dark;
  }

  .mode-icon {
    @apply h-6 w-6;
  }

  .sun-icon {
    @apply mode-icon text-yellow-400;
  }

  .moon-icon {
    @apply mode-icon text-blue-500;
  }

  .code-icon {
    @apply h-5 w-5 text-gray-600 dark:text-gray-200 hover:text-gray-500 dark:hover:text-gray-300;
  }

  .toggler {
    @apply relative inline-block text-left;
  }

  .toggler button.toggle {
    @apply inline-flex space-x-2 items-center justify-center w-full rounded-sm
      border border-gray-300 dark:border-gray-800 shadow-sm px-3 py-1.5 
      bg-gray-50 text-sm font-medium text-gray-700 dark:text-gray-300
      hover:bg-gray-50 dark:bg-black focus:outline-none focus:ring-2
      focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-primary;
  }

  .toggler button.toggle .title {
    @apply text-gray-700 dark:text-gray-300 truncate tracking-tight;
  }

  .toggler button.toggle .chevron {
    @apply h-5 w-5 text-secondary dark:text-primary;
  }

  .toggler .dropdown {
    @apply z-50 origin-top-right absolute right-0 mt-3 w-56 shadow-lg bg-white
    dark:bg-black ring-1 ring-black ring-opacity-5 focus:outline-none;
  }

  .output-title, .event-title {
    @apply cell-title flex items-center justify-between;
  }

  .output-title .no-output, .event-title .no-event {
    @apply text-gray-300 dark:text-gray-400;
  }

  .output-title .sirens {
    @apply text-xl font-bold text-red-500;
  }

  pre.error {
    @apply overflow-auto py-4 px-6 font-semibold bg-gray-800 text-red-300
      dark:bg-black dark:text-red-400;
  }

  footer section.export-section {
    @apply py-4 px-6 bg-gray-100 dark:bg-gray-700;
  }

  footer section.sub-footer {
    @apply bg-gray-200 dark:bg-black py-4 px-6;
  }

  footer section.sub-footer .sub-footer-text {
    @apply text-black dark:text-gray-200;
  }

  footer section.sub-footer .sub-footer-text .link {
    @apply font-semibold hover:text-secondary dark:hover:text-primary;
  }
}